[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
After=network.target
Wants=syncthing-inotify.service

[Service]
User={{syncthing_user}}
ExecStart={{syncthing_home}}/syncthing -no-browser -no-restart -logflags=0 -home={{syncthing_config}}
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target